%h4
	Favorites
	%br
- @favorites.each do |f|
	.col-sm-3
		.well
			.book-shelf
				.book-name
					%b= f.name
				.book-author
					Author:
					%em= f.author
				.book-year
					Year:
					= f.year
				.book-cover
					= image_tag f.photo.url
				.favorite
					- unless current_user.favorite_books.exists?(id: f.id)
						= link_to "Add to Favorites" , favorite_books_path(book_id: f.id), method: :post, class: "pull-right favorites"
					- else
						= link_to "Remove from favorites", favorite_book_path(f.id), method: :delete, class: "pull-right favorites"
